body{
    margin: 0;
}

#gridContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header'
    'header header'
    'content content'
    'content content'
    'content content'
    'content content'
    'content content'
    'content content'
    'content content'    
    'footer footer';
    gap: 30px;
}

section > div, header, footer {
    border: 2px solid brown;
}

.header {
    grid-area: header;
    position: relative;
}

.headerTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.date {
    position: absolute;
    right: 10%;
    top: 10%;
}

.content{
    grid-area: content;
    display: flex;
    justify-content: space-around;
}

.leftDiv{
    width: 30%;
    position: relative;
}

.statsContainer{
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid brown;
    transform: translate(-50%);
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.statsContainer > div {
    text-align: center;
}

.rightDiv{
    width: 30%;
    position: relative;
}

#form {
    display: flex;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%);
}

.divTitle {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%); 
}

.footer {
    grid-area: footer; 
    position: relative;
}

.footer > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}