body{
    margin: 0;
}

#gridContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header'
    'leftDiv rightDiv'
    'footer footer';
    gap: 30px;
}

.header {
    grid-area: header;
}

.header {
    grid-area: header;
}

.header {
    grid-area: header;
}

.header {
    grid-area: header;
}