body{
    margin: 0;
}

#gridContainer {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header header'
    'header header'
    'content content'
    'content content'
    'content content'
    'content content'
    'content content'
    'content content'
    'content content'    
    'footer footer';
    gap: 30px;
    background: linear-gradient(0deg, rgba(183,217,221,1) 0%, rgba(0,178,214,1) 45%, rgba(1,103,124,1) 100%);
}

section > div, header, footer {
    border: 2px solid rgba(1,103,124,1)
}

.header {
    grid-area: header;
    position: relative;
}

.headerTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.8rem;
}

.date {
    position: absolute;
    right: 10%;
    top: 10%;
    font-size: 1.5rem;
}

.content{
    grid-area: content;
    display: flex;
    justify-content: space-around;
}

.leftDiv{
    width: 30%;
    position: relative;
}

.statsContainer{
    position: absolute;
    top: 20%;
    left: 50%;
    border: 2px solid  rgba(1,103,124,1);
    transform: translate(-50%);
    width: 50%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
}

.statsContainer > div {
    text-align: center;
}

.rightDiv{
    width: 30%;
    position: relative;
}

#form {
    display: flex;
    position: absolute;
    top: 9%;
    left: 50%;
    transform: translate(-50%);
}

.divTitle {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%); 
    font-size: 1.5rem;
}

.footer {
    grid-area: footer; 
    position: relative;
}

.footer > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}